.time-container{
  width: 60px;
  height: 30px;
  align-items: center;
}

.time{
  color: black;
  font-size: 13px;
  position: relative;
  right: 10px;
}

.duration{
  font-size: 11px;
  color: grey;
}
