.call-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.date{
    color: grey;
    margin: 5px;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 345px;
    height: 30px;
    padding: 10px;
    border-radius: 15px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button{
  background-color: #4CAF50;
  width: 50px;
  height: 30px;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}
